REACT_APP_SUPABASE_URL=https://hvxxcqddqdtbllzrzeqf.supabase.co
REACT_APP_SUPABASE_ANON_KEY=sb_publishable_-H5U24Fh6JLa6VWiPj2tYw_aAUqLAK4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2eHhjcWRkcWR0YmxsenJ6ZXFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzMwNDMwMywiZXhwIjoyMDk4ODgwMzAzfQ.9J8UIIx3XnFG2yfolpjb2RJ70rTGapZHhfFyiuDtmBk
